.modal-container {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;

  position: fixed;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background: #fff;
  width: 250px;
  height: 150px;

  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #00000070;
}

.modal-show{
  opacity: 1;
  pointer-events: auto;
}